@import "../../../../styles/mixin";

aside {
    background-color: var(--white);
    display: flex;
    justify-content: center;

    @media screen and (min-width: 684px) {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.header-block {
    margin: 70px 15px 0 15px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__tag {
        @include button;
        margin: 5px;

        .fa-check-square,
        .fa-square {
            margin-right: 8px;
        }

        &:hover {
            cursor: pointer;
        }

        &--active {
            background-color: var(--color-light);
        }

        &--inactive {
            background-color: var(--color-dark);
        }
    }
}