:root {
    --white: #ffffff;
    --grey-light: #b3b3b3;
    --grey-dark: #474747;
    --color-dark: #468faf;
    --color-bright: #2c7da0;
    
    --color-education: #FAD2E1;
    --color-recreational: #F0EFEB;
    --color-social: #EAE4E9;
    --color-diy: #FDE2E4;
    --color-charity: #E2ECE9;
    --color-cooking: #FFF1E6;
    --color-relaxation: #DFE7FD;
    --color-music: #CDDAFD;
    --color-busywork: #BEE1E6; 
}