@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito/Nunito-SemiBold.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito/Nunito-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}